<br>
<img src="https://www.womansworld.com/wp-content/uploads/2019/05/sad-cat.jpg" alt="sad cat">
<h3>Are you sure you want to delete your account?<br>This cannot be undone</h3><br>
<form action="/users/<%=@user.id%>" method="POST">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete my account">
</form><br>
<a href="/boardgames">I changed my mind!</a>