    <h2>Login</h2>
    <form action='/login' method="POST">
        <label>Username: </label>
            <input type="text" name="username"><br><br>
        <label>Password: </label>
            <input type="password" name="password"><br><br>
            <input type="submit" value="Log in" style="font-size: 16px;">
    </form>
    <br>
    Don't have an account? <a href="/signup">Sign Up</a>

