<h2>Sign up</h2>
<form action="/signup" method="POST">
<label>Name: </label>
<input type="text" name="name"><br><br>
<label>Email: </label>
<input type="email" name="email"><br><br>
<label>Username: </label>
<input type="text" name="username"><br><br>
<label>Password: </label>
<input type="password" name="password"><br><br>
<input type="submit" style="font-size: 16px;">
</form>
