shows a users collection of boardgames<br>

<% @user.boardgames.each do |bg| %>
    <h3><%= bg.name %></h3><br>
    <img style="object-fit: contain; vertical-align:middle;margin:0px 10px;" src="<%=bg.image%>" alt="<%=bg.name%>" width="500" height="500"><br>
<%end%>
