lists all boardgames in db

- "add to collection" button? 
- search for a boardgame/user to view their collection ?
- "add new boardgame" button if not in db

<% @boardgames.each do |bg| %>
    <h3><%= bg.name %></h3>
    <img style="object-fit: contain; vertical-align:middle;margin:0px 10px;" src="<%=bg.image%>" alt="<%=bg.name%>" width="500" height="500"><br>
    <a href="boardgames/<%=bg.id%>">View</a>
    </p>
<%end%>



