<h2>Create a new boardgame</h2>

<form action="/boardgames" method="POST">
<strong>Name: </strong>
<input type="text" name="boardgame[name]"><br><br>
<strong>Year Published: </strong>
<input type="text" name="boardgame[year_published]"><br><br>
<strong>Image Url: </strong>
<input type="text" name="boardgame[image]"><br><br>
<strong>Min Players: </strong>
<input type="text" name="boardgame[min_players]"><br><br>
<strong>Max Players: </strong>
<input type="text" name="boardgame[max_players]"><br><br>
<strong>Playing Time:</strong>
<input type="text" name="boardgame[playing_time]"><br><br>
<input type="submit" value="Create" style="font-size: 16px;">
</form>
